/.phpintel/*
/core/includes/configuration.php
/core/includes/scripts/error.log
/error.log
/admin/error.log
/staff/error.log
/core/aasp_includes/scripts/error.log
/test.php
/installed
/.vscode/*
/core/includes/configuration.json
